.git
.gitignore
.pytest_cache
.ruff_cache
.mypy_cache
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
.venv/
venv/
env/

notebooks/
docs/
tests/
logs/
mlruns/
wandb/

data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
models/*
!models/.gitkeep
!models/README.md
reports/figures/
